a.show-filter {
    background: rgba(0, 0, 0, 0) url("../img/icons/filter.png") no-repeat scroll 0 0;
    cursor: pointer;
    float: right;
    height: 22px;
    margin: 0 15px 0 0;
    width: 21px;
}

.filters ul {
    float: left;
    margin: 0;
    max-width: 100%;
    width: 100%;
}
.filters legend {
    color: #888;
    font-size: 12px;
    padding: 0 6px;
}
.filters form > ul > li {
    display: inline-block;
    margin: 8px 0 5px 5px;
    max-width: 250px;
}
.filters form > ul > li label {
    display: block;
    float: left;
    margin: 8px 5px 0 0;
    width: 100%;
}
.filters form > ul > li input[type="text"] {
    margin: 0;
    width: auto;
}

.filters > ul {
    display: block;
    width: 100%;
}
.filters > ul > li:first-child {
    margin-top: 0 !important;
}
.filters > ul > li > center .chzn-single li span {
    text-align: left !important;
}

.filters .datepicker {
    min-width: 100px !important;
    width: 100px !important;
}

.chart-filters > ul >li {
    max-width: 260px;
}

@media only screen and (min-width: 281px) {
	.filters > ul > li {
	    display: block;
	    float: left;
	    margin: 0;
	    padding: 0;
	    width: 100%;
	}
	.filters > ul > li.wide {
	    width: 100%;
	}
}

}
@media only screen and (min-width: 1025px) {
	.filters > ul > li {
	    width: 33%;
	}
	.filters > ul > li.wide {
	    width: 66%;
	}
	.filters > ul > li:nth-child(3n+1) {
	    margin-top: 20px;
	}

}



.demo-placeholder {
	width: 85%;
	height: 300px;
	font-size: 12px;
	line-height: 1.2em;
	float: left;
}

.demo-legend {
	padding: 5px;
	font-size: 12px;
	float: left;
}

.legend table {
	border-spacing: 0px;
	font-size:smaller;
}

.overview-block {
	height: 80px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 15px 5px 5px;
    text-align:center;
}

.overview-block h1, h2, h3{
	color: white;
}

#sw-location {
    background-color: #f16d58; /* FF7F50 02d8e9 82cafc 5a86ad */
}
#sw-devices {
    background-color: #edb400;
}
#sw-total-users {
    background-color: #79bd21;
}
#sw-social-accounts {
    background-color: #009ede;
    text-align:center;
}

#sw-social-accounts h2{
    padding-bottom:5px;
    margin-bottom:0px;
    padding-left:40px;
}

#sw-social-accounts .content{
	position: relative;
	padding-left:40px !important;
	text-align:center;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF FOUR  */
.span_4_of_4 {
	width: 100%;
}
.span_3_of_4 {
	width: 74.6%;
}
.span_2_of_4 {
	width: 49.2%;
}
.span_1_of_4 {
	width: 23.8%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 50%; }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 33%; }
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}


/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}


/***Overview CSS***/
.fa {
    float: left;
    height: 60%;
    width: 20%;
    margin: 15px 5px 5px 5px;
    background-size:100% 100%;
}
.fa-location {
    background-image: url("../img/icons/Location-icon.png");
}
.fa-devices {
    background-image: url("../img/icons/Router-2-icon.png");
}
.fa-visitors {
    background-image: url("../img/icons/visitors.png");
}
.fa-social-account {
    background-image: url("../img/icons/social-account.png");
}

.morris-legend {
        height: 50px;
        
    }
.morris-legend span {
        display: inline-block;
        padding: 15px 30px;
        position: relative;
    }
.morris-legend span:after {
        padding-left: 4px;
        content: '\00a0\00a0\00a0\00a0\00a0\00a0';
    text-decoration: line-through;
    }

.center-block {text-align:center; }    
.center-block img {
	display:block;
	margin:auto;
	vertical-align:middle;
}
.center-block span {margin:0 auto; display: inline-block;}