<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
				<div class="widget">
					{{ widgets:area slug="footer-col1" }}	
            	</div>
            </div>
            <div class="col-sm-4">
				<div class="widget">
					{{ widgets:area slug="footer-col2" }}
            	</div>			
            </div>
            <div class="col-sm-4">
				<div class="widget">
					{{ widgets:area slug="footer-col3" }}
            	</div>			
            </div>
        </div>


        <div id="copyright">
            <p>All rights reserved © 2013 <a class="text-glow" href="http://smartwifi.com.vn"><strong><span>SmartWifi</span></strong></a><p>
        </div>
    </div>

</footer>



