<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
		<div class="container">

			<div class="navbar-header">
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="navbar-brand" id="logo">
					<a href="#" >{{ theme:image file="logo.png" width="136" height="59" alt="logo" }}</a>
					<div id="slogan" class="hidden-xs navbar-slogan pull-right">
		                    <span>{{ settings:site_slogan }}</span>
		            </div>
				</div>
				

			</div>

			<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
				<ul class="nav navbar-nav navbar-right">
					{{ navigation:links group="header" }} 
				</ul>
			</nav>

		</div>
</header>