<!doctype html>
<html>
  <head>  	
  	{{ theme:partial name="hotspot/bootstrap335/metadata" }}
  	{{ theme:partial name="hotspot/piwik" }}
  	{{ {{ theme_slug }}:custom_css }}
  	<style>
  		.body-wrapper{
  			margin-top:{{ theme_detail:body_top_margin }}px;
  			color:{{ theme_detail:body_text_color }};
  		}
  		
  		.body-wrapper .container{
  			background-color: {{ theme_detail:body_background_color }};
  		}
  		.footer{
  			margin-top:{{ theme_detail:footer_top_margin }}px;
  		}
  	</style> 	    
  </head>
<body>
	<div class="wrapper">
		<div id="header">
				<div class="container width-960">
					<div class="row">
						<div id="carousel-header-generic" class="carousel slide" data-ride="carousel">
						  <div class="carousel-inner" role="listbox">
						  	
						  	{{ if theme_detail:desktop_header_image_1:filename }}
						    <div class="item active">
						    	{{ if theme_detail:desktop_header_url_1 }}
						    	<a href="{{ theme_detail:desktop_header_url_1 }}" target="_blank">
						    		<img src="{{ protocol }}{{ static_host }}/{{ theme_detail:desktop_header_image_1:filename }}" alt="Header">
						    	</a>
						    	{{ else }}
						    	<img src="{{ protocol }}{{ static_host }}/{{ theme_detail:desktop_header_image_1:filename }}" alt="Header">
						    	{{ endif }}
						    </div>
						    {{ endif }}
						    
						    {{ if theme_detail:desktop_header_image_2:filename }}
						    <div class="item">
						    	{{ if theme_detail:desktop_header_url_2 }}
						    	<a href="{{ theme_detail:desktop_header_url_2 }}" target="_blank">
						    		<img src="{{ protocol }}{{ static_host }}/{{ theme_detail:desktop_header_image_2:filename }}" alt="Header">
						    	</a>
						    	{{ else }}
						    	<img src="{{ protocol }}{{ static_host }}/{{ theme_detail:desktop_header_image_2:filename }}" alt="Header">
						    	{{ endif }}
						    </div>
						    {{ endif }}
						    
						    {{ if theme_detail:desktop_header_image_3:filename }}
						    <div class="item">
						    	{{ if theme_detail:desktop_header_url_3 }}
						    	<a href="{{ theme_detail:desktop_header_url_3 }}" target="_blank">
						    		<img src="{{ protocol }}{{ static_host }}/{{ theme_detail:desktop_header_image_3:filename }}" alt="Header">
						    	</a>
						    	{{ else }}
						    	<img src="{{ protocol }}{{ static_host }}/{{ theme_detail:desktop_header_image_3:filename }}" alt="Header">
						    	{{ endif }}
						    </div>
						    {{ endif }}
						    
						  </div>
						</div>
						
					</div>
				</div>
		</div>
		<div class="body-wrapper">
		{{ template:body }}
		</div>
		<div class="push"></div>
    </div>
	<!-- Footer -->
    <div class="footer">
        <div class="container width-960">
            <div class="row">
                <img class="img-responsive" src="{{ protocol }}{{ static_host }}/{{ theme_detail:desktop_footer_image:filename }}"/>
            </div>
        </div>
    </div>
    
    <script>
    	$(document).ready(function(){
		    $('.footer img').load(setStickyFooter);		
		    $(window).resize(setStickyFooter);
		    function setStickyFooter () {
				var footerHeight = $('.footer').outerHeight();
				var stickFooterPush = $('.push').height(footerHeight);	
				$('.wrapper').css({'marginBottom':'-' + footerHeight + 'px'});
			}
		});
    </script>
    
</body>     
</html>