<!doctype html>
<html>
  <head>
    <title>Wifi Login | Landing</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	{{ theme:favicon file="favicons/favicon.ico"}}
	{{ theme:favicon file="favicons/apple-touch-icon.png" rel="apple-touch-icon" }}
	{{ theme:favicon file="favicons/apple-touch-icon-precomposed.png" rel="apple-touch-icon" }}
	{{ theme:favicon file="favicons/apple-touch-icon-57x57-precomposed.png" rel="apple-touch-icon" }}
	{{ theme:favicon file="favicons/apple-touch-icon-72x72-precomposed.png" rel="apple-touch-icon" }}
	{{ theme:favicon file="favicons/apple-touch-icon-114x114-precomposed.png" rel="apple-touch-icon" }}

	{{ asset:render group="global" }}
	{{ asset:render group="smartwifi" }}

	<script>
		var queryObj = {
			device_type : 'desktop',
			res : '{{ session:data name="res" }}',
			uamip : '{{ session:data name="uamip" }}',
			uamport : '{{ session:data name="uamport" }}',
			challenge : '{{ session:data name="challenge" }}',
			called : '{{ session:data name="called" }}',
			mac : '{{ session:data name="mac" }}',
			ip : '{{ session:data name="ip" }}',
			nasid : '{{ session:data name="nasid" }}',
			md : '{{ session:data name="md" }}',
			nasid : '{{ session:data name="nasid" }}'
		};
		
		
		window.onload = function(){
			console.log("test modern" + navigator.userAgent);
			//Add Modernizr test
			Modernizr.addTest('ipad', function () {
			  return !!navigator.userAgent.match(/iPad/i);
			});
			
			Modernizr.addTest('iphone', function () {
			  return !!navigator.userAgent.match(/iPhone/i);
			});
			
			Modernizr.addTest('ipod', function () {
			  return !!navigator.userAgent.match(/iPod/i);
			});
			
			Modernizr.addTest('mac', function () {
			  return !!navigator.userAgent.match(/OS X/i);
			});
			Modernizr.addTest('appleios', function () {
			  return (Modernizr.ipad || Modernizr.ipod || Modernizr.iphone || Modernizr.mac);
			});
			
			if (Modernizr.appleios) {
			    //do stuff specific for iOS
			    console.log("is MAC");
			    //setElementValue('msg', "is Apple -");
			}
			
			function setElementValue (elem, val, forceHTML) {
			    var e = document.getElementById(elem);
			    if (e != null) {
				var node = e;
				if (!forceHTML && node.firstChild) {
				    node = node.firstChild;
				    node.nodeValue += val;
				} else {
				    node.innerHTML += val;
				}
			    }
			}
			
			if (Modernizr.cookies) { 
				console.log("support cookie");
				//setElementValue('msg', "- support cookie -");
			} else console.log("not support cookies");
			if (Modernizr.localstorage) {
			  // supported
			  //setElementValue('msg', "- support localstorage -");
			}
			
			if (Modernizr.fetch) {
			  // supported
			  //setElementValue('msg', "- support fetch API -");
			} else {
				console.log("not support Fetch API");
			}
			
		};
	</script>
	<style>
		.prelogin {
		  position: fixed;
		  bottom: 15px;
		  left: 50%;
		  /* bring your own prefixes */
		  transform: translate(-50%, 0%);
		}
		.prelogin .container {
			display:table-cell;
			vertical-align: middle;
			text-align:center;
			padding: 10px 50px 10px 50px;
			min-width: 260px;
		    border-radius: 10px;	
		}
		
		
		.btn {
			font-size:16px;
			font-family:Arial;
			font-weight:normal;
			-moz-border-radius:18px;
			-webkit-border-radius:18px;
			border-radius:18px;		
			padding:9px 47px;
			text-decoration:none;
			color:#ffffff;
			display:inline-block;
		}
		.btn:hover, .btn:focus, .btn:active {
			-webkit-transform: scale(1.1);
        	-ms-transform: scale(1.1);
        	transform: scale(1.1);
        }
		.container .terms {font-size:0.7em;font-style: italic;}
		.container .not-agree {font-size:0.6em; font-style: italic;}
		
	</style>
	{{ {{ theme_slug }}:custom_css }}
  </head>
<body>

	{{ template:body }}
	<script>
		    $.backstretch([   	
		    		"{{ protocol }}{{ static_host }}/{{ theme_detail:fullscreen_desktop_image:filename }}"		    			    	
		      ], {
		        fade: 750,
		        duration: 4000
		    });
	</script>      
</body>     
</html>