<!doctype html>
<html>
  <head>  	
  	{{ theme:partial name="hotspot/bootstrap335/metadata" }}
  	{{ theme:partial name="hotspot/piwik" }}
  	{{ {{ theme_slug }}:custom_css }} 	    
  </head>
<body class="landing-theme">
			{{ {{ theme_slug }}:header device_type="{ device_type }" }}
			{{ template:body }}
			{{ {{ theme_slug }}:footer device_type="{ device_type }" }}

</body>     
</html>