<!doctype html>
<html>
  <head>
    {{ {{ theme_slug }}:prelogin device_type="{ device_type }" }}
	{{ asset:render}}
  </head>
<body>
	<div id="loading">
		{{ theme:image file="loading.gif" alt="Please wait..." height="90" class="loading" }}
	</div>
	
     {{ template:body }}
       
</body>     
</html>