.facebook{
	background-image: url(../img/facebook.png);
	width: 16px;
    height: 16px;
    display: block;
}
.google-plus{
	background-image: url(../img/google-plus.png);
	width: 16px;
    height: 16px;
    display: block;
}
.anonymous{
	background-image: url(../img/anonymous.png);
	width: 30px;
    height: 30px;
    display: block;
}
.male{
	background-image: url(../img/male.png);
	width: 16px;
    height: 16px;
    display: block;
}
.female{
	background-image: url(../img/female.png);
	width: 16px;
    height: 16px;
    display: block;
}