<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ template:title }} | {{ settings:site_name }}</title>
<meta name="description" content="Wifi Landing Page">
<meta name="author" content="SmartWifi Technology Co.,Ltd">

{{ theme:favicon file="favicons/favicon.ico"}}
{{ theme:favicon file="favicons/apple-touch-icon.png" rel="apple-touch-icon" }}
{{ theme:favicon file="favicons/apple-touch-icon-precomposed.png" rel="apple-touch-icon" }}
{{ theme:favicon file="favicons/apple-touch-icon-57x57-precomposed.png" rel="apple-touch-icon" }}
{{ theme:favicon file="favicons/apple-touch-icon-72x72-precomposed.png" rel="apple-touch-icon" }}
{{ theme:favicon file="favicons/apple-touch-icon-114x114-precomposed.png" rel="apple-touch-icon" }}

<base href="{{ url:base }}"/>
<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
<!--[if lt IE 9]>
	<script src="{{ asset:js_url file="bootstrap-3.3.5::ie8-responsive-file-warning.js" }}"></script>
	<script src="{{ asset:js_url file="html5shiv.min.js" }}"></script>	
	<script src="{{ asset:js_url file="respond.min.js" }}"></script>
<![endif]-->
<script>
	var queryObj = {
		device_type : 'mobile',
		res : '{{ session:data name="res" }}',
		uamip : '{{ session:data name="uamip" }}',
		uamport : '{{ session:data name="uamport" }}',
		challenge : '{{ session:data name="challenge" }}',
		called : '{{ session:data name="called" }}',
		mac : '{{ session:data name="mac" }}',
		ip : '{{ session:data name="ip" }}',
		nasid : '{{ session:data name="nasid" }}',
		md : '{{ session:data name="md" }}',
		nasid : '{{ session:data name="nasid" }}'
	};
</script>

{{ asset:css file="bootstrap-3.3.5::bootstrap.min.css" file_min="bootstrap-3.3.5::bootstrap.min.css" group="bootstrap" }}
{{ asset:js file="jquery::jquery-1.11.3.min.js" group="bootstrap" }}
{{ asset:js file="bootstrap-3.3.5::bootstrap.min.js" group="bootstrap" }}
{{ asset:js file="bootstrap-3.3.5::ie-emulation-modes-warning.js" }}
{{ asset:js file="bootstrap-3.3.5::ie10-viewport-bug-workaround.js" }}

{{ asset:render group="bootstrap" }}
{{ asset:render group="global" }}
{{ asset:render group="smartwifi" }}

{{ template:metadata }}

{{ if exists client_info }}
	<script>
		var client_info = {
			client_mac : '{{ client_info:client_mac }}',
			profile_id : '{{ client_info:profile_id }}',
			email : '{{ client_info:email }}',
			social_network_id : '{{ client_info:social_network_id }}',
			profile_type : '{{ client_info:profile_type }}',
			mobile : '{{ client_info:mobile }}',
			name : '{{ client_info:name }}',
			pic_url : '{{ client_info:pic_url }}',
		};
	</script>
{{ endif }}

{{ if exists location_detail }}
	<script>
		var swLocation = {
			location_id : '{{ location_detail:id }}',
			redirect_url : '{{ location_detail:redirect_url }}',
			hasCouponCampaign : '{{ location_detail:hasCouponCampaign }}'
		};
		{{ if exists swAjaxSetup }}
		var swAjaxSetup = {{ swAjaxSetup }};
		{{ endif }}
	</script>
{{ endif }}

