* {
	margin: 0;
}
html, body {
	height: 100%;
}
.sw-wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-left:auto;
    margin-right:auto;
    max-width:800px;
    margin-bottom:-120px;
}

.masthead {
	margin-bottom:0px;
}
.width-800 {
	max-width:800px;
	
}
.wifi-login-area {
	padding-top:5px;
	padding-bottom: 15px;
}

.mastfoot {
	padding-top:10px;
	margin-left:auto;
    margin-right:auto;
    max-width:800px;
}

.mastfoot, .push {
	height:120px;
}

#facebook-callback {
	margin-top:10px;
}

#google-callback {
	margin-top:10px;
}

#click-callback {
	margin-top:10px;
}

.logo img{margin-top:15px;}
#info {
	text-align:left;
}
#info h4{
	margin-left:25px;
}
#agreement {
	margin-top:20px;
}
.modal {
	color: #000000;
}
#error-msg {
	font-size: 1.1em;
}
