* {
	margin: 0;
}
html, body {
    height: 100%;
}
.sw-wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom:-100px;
}
.width-800 {
	max-width:800px;
	margin-top:5px;
	margin-bottom:5px;
}
.wifi-login-area {
	padding-top:5px;
	padding-bottom: 15px;
}


.mastfoot, .push {
	height:100px;
}


#c-name {
	color: #0033CC;
}

#facebook-callback {
	margin-top:10px;
}

#google-callback {
	margin-top:10px;
}

#click-callback {
	margin-top:10px;
}

.logo img{margin-top:15px;}
#info {
	text-align:left;
	font-size: 0.6em;
}

#agreement {
	margin-top:20px;
}
.modal {
	color: #000000;
}
#error-msg {
	font-size: 1.1em;
}