<!doctype html>
<html>
  <head>  	
  	{{ theme:partial name="hotspot/bootstrap335/metadata" }}
  	{{ theme:partial name="hotspot/piwik" }}
  	{{ {{ theme_slug }}:custom_css }} 	    
  </head>
<body class="landing-theme">
	<!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#"><img class="img-responsive" src="{{ url:site }}files/thumb/{{ theme_detail:logo:id }}/32/auto" alt="Logo"/></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    
    <div class="container-fluid">
    	<div class="row">
    		{{ if theme_detail:slide_1 OR theme_detail:slide_2 OR theme_detail:slide_3 }}
    			<div id="carousel-slider-generic" class="carousel slide" data-ride="carousel">
				  <div class="carousel-inner" role="listbox">
				  	{{ if theme_detail:slide_1:image != '' }}
				    <div class="item active">
				    	{{ if theme_detail:slide_1_url != '' }}
				        <a href="{{ theme_detail:slide_1_url }}" target="_blank"><img src="{{ theme_detail:slide_1:image }}" alt="Slide 1"></a>
				        {{ else }}
				        <img src="{{ theme_detail:slide_1:image }}" alt="Slide 1">
				        {{ endif }}
				    </div>
				    {{ endif }}
				    
				    {{ if theme_detail:slide_2:image != '' }}
				    <div class="item">
				    	{{ if theme_detail:slide_2_url != '' }}
				        <a href="{{ theme_detail:slide_2_url }}" target="_blank"><img src="{{ theme_detail:slide_2:image }}" alt="Slide 2"></a>
				        {{ else }}
				        <img src="{{ theme_detail:slide_2:image }}" alt="Slide 2">
				        {{ endif }}
				    </div>
				    {{ endif }}
				    
				    {{ if theme_detail:slide_3:image != '' }}
				    <div class="item">
				    	{{ if theme_detail:slide_3_url != '' }}
				        <a href="{{ theme_detail:slide_3_url }}" target="_blank"><img src="{{ theme_detail:slide_3:image }}" alt="Slide 3"></a>
				        {{ else }}
				        <img src="{{ theme_detail:slide_3:image }}" alt="Slide 3">
				        {{ endif }}
				    </div>
				    {{ endif }}
				    
				  </div>
				</div>
				
			{{ endif }}
    	</div>
    </div>

	{{ template:body }}

	{{ if exists advert }}
				<div class="container-fluid" style="padding-bottom: 15px;padding-top: 15px;">
					<div class="row">
						
						<div class="col-md-12">	
							<div class="advert-container">
								<div class="panel panel-default">
									<div class="panel-body">
										<div class="row">
											<div class="col-xs-3 col-sm-2"><img alt="logo" class="advert-brand-logo img-responsive" src="{{ advert:brand_logo:image }}"> </div>
											<div class="col-xs-9 col-sm-10 heading">{{ advert:brand_name }}</div>
										</div>
										<hr />
								    	<div class="advert-text">{{ advert:advert_text }}</div>
								    	<a href="{{ advert:website_url }}/home" class="piwikContentTarget" target="_blank" data-track-content data-content-name="{{ advert:advert_campaign:id }}" data-content-piece="{{ advert:id }}">
								    		<div id="advert-image" class="img-responsive">{{ advert:advert_image:img }}</div>
								    		<div id="advert-headline"><h3>{{ advert:advert_headline }}</h3></div>
											<div id="advert-link-desc">{{ advert:advert_link_desc }}</div>
											<span id="display-link">{{ advert:advert_display_link }}</span>
											<span id="cta-btn" class="pull-right btn btn-default">{{ advert:cta_button }}</span>
										</a>
									</div>
				
								</div>
							</div>
						</div>
						
					</div>
				</div>
{{ endif }}

	<footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Your Company 2014. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

</body>     
</html>