<!doctype html>
<html>
  <head>
    <title>Wifi Login | Landing</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{{ asset:render group="global" }}
	{{ asset:render group="smartwifi" }}

	<script>
		var queryObj = {
			device_type : 'mobile',
			res : '{{ session:data name="res" }}',
			uamip : '{{ session:data name="uamip" }}',
			uamport : '{{ session:data name="uamport" }}',
			challenge : '{{ session:data name="challenge" }}',
			called : '{{ session:data name="called" }}',
			mac : '{{ session:data name="mac" }}',
			ip : '{{ session:data name="ip" }}',
			nasid : '{{ session:data name="nasid" }}',
			md : '{{ session:data name="md" }}',
			nasid : '{{ session:data name="nasid" }}'
		};
		window.onload = function(){
			console.log("test modern" + navigator.userAgent);
			//Add Modernizr test
			Modernizr.addTest('ipad', function () {
			  return !!navigator.userAgent.match(/iPad/i);
			});
			
			Modernizr.addTest('iphone', function () {
			  return !!navigator.userAgent.match(/iPhone/i);
			});
			
			Modernizr.addTest('ipod', function () {
			  return !!navigator.userAgent.match(/iPod/i);
			});
			
			Modernizr.addTest('mac', function () {
			  return !!navigator.userAgent.match(/Mac/i);
			});
			Modernizr.addTest('appleios', function () {
			  return (Modernizr.ipad || Modernizr.ipod || Modernizr.iphone || Modernizr.mac);
			});
			
			if (Modernizr.appleios) {
			    //do stuff specific for iOS
			    console.log("is iOS");
			}
			
			if (Modernizr.cookies) { console.log("support cookie");} else console.log("not support");
		};
	</script>
	<style>
		body {width: 100%;}
		.prelogin {
		  position: fixed;
		  bottom: 15px;
		  left: 50%;
		  /* bring your own prefixes */
		  transform: translate(-50%, 0%);
		}
		.container {
			display:table-cell;
			vertical-align: middle;
			text-align:center;
			padding: 10px 5px 10px 5px;
			min-width: 360px;
		    background: rgba(216, 232, 237, .6);
		    border-radius: 10px;
		}
		.btn {
			font-size:16px;
			font-family:Arial;
			font-weight:normal;
			-moz-border-radius:18px;
			-webkit-border-radius:18px;
			border-radius:18px;
			border:1px solid #337fed;
			padding:9px 47px;
			text-decoration:none;
			background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
			background:-ms-linear-gradient( top, #3d94f6 5%, #1e62d0 100% );
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
			background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #3d94f6), color-stop(100%, #1e62d0) );
			background-color:#3d94f6;
			color:#ffffff;
			display:inline-block;
		}.btn:hover {
			background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
			background:-ms-linear-gradient( top, #1e62d0 5%, #3d94f6 100% );
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
			background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #1e62d0), color-stop(100%, #3d94f6) );
			background-color:#1e62d0;
		}.btn:active {
			position:relative;
			top:1px;
		}
		.container .terms {font-size:0.7em;font-style: italic;}
		.container .not-agree {font-size:0.6em; font-style: italic;}
		@media screen and (min-width:360px){
			.container{min-width:325px;}
		}
		@media screen and (min-width:460px){
			.container{min-width:450px;}
		}
	</style>
	{{ {{ theme_slug }}:custom_css }}
  </head>
<body>

	{{ template:body }}
	<script>
		    $.backstretch([   	
		    		"{{ theme_detail:fullscreen_mobile_image:image }}"		    			    	
		      ], {
		        fade: 750,
		        duration: 4000
		    });
	</script>      
</body>     
</html>