/*!
 * Start Bootstrap - Landing Page Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body,
html {
    width: 100%;
    height: 100%;
    background-color: #ddd;
    color:#333;
    font-size:12px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial,sans-serif;
    font-weight: 700;
}

.topnav {
    font-size: 14px; 
}
.navbar{margin-bottom:0;}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 10px;
    text-align: center;
    color: #f8f8f8;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 15%;
    padding-bottom: 25%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 10px 0;
    background-color: #f8f8f8;
    text-align: left;
}

.content-section-b {
    padding: 10px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    text-align: left;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
    color:#333;
}
footer a {color:#333;}

p.copyright {
    margin: 15px 0 0;
}
/***CUSTOM***/

.advert-container{
	text-align:left;
}
.advert-container .heading {margin-left: -40px;font-size: 1.3em;}
.advert-container .panel-body {color: #000000;}
.advert-container .panel-body a {color: #000000;}
.advert-container .panel-body, a:hover {color: #000088;}
.advert-container #display-link {color: #C9CCCF;}

.menu-right {
	min-width:35%;
}
.proser-section{
	margin-top:5px;
	margin-bottom:-6px;
    padding: 15px 0 5px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: left;
    height: 55px;
    font-size: 1.3em;
    background-color: #f5f5f5;
    color:#333;
}
.proser-section .btn-group{margin-top:-5px;color:#333;}

.featured-content-section{
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-top:5px;
    margin-bottom:5px;
    text-align: left;
    
}
.featured-content-section .intro {font-size:12px;font-weight: 400;}
.featured-content-section .item-heading{
	padding: 15px 0 10px 0;
	font-size:15px;
}
.item-price {
	color: #FF6400;
	font-size: 1.1em;
}

.content-section{
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-top:5px;
    margin-bottom:5px;
    padding: 10px 0 10px 0;
    text-align: left;
    
}
.content-section .item-heading{
	font-size:12px;
	clear:both;
	text-align:left;
}
.content-section .intro {font-size:11px;font-weight: 400;text-align: justify;}

.wifi-login-section{
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-top:0;
    margin-bottom:5px;
    padding: 10px 0 10px 0;
    text-align: left;
    
}
