/*
 * PyroCMS LLC
 * Developed by @joshuapekera, @philsturgeon, @jerelunruh, @adamfairholm
 */

/* ----------------------------------
 *   Primary styles
 * ----------------------------------
 * Mobile first, everything else is overridden in responsive.css
 * ---------------------------------- */

#container {
  width: 280px;
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0 auto;
}

.one_full {
  float: left;
  width: 250px;
  margin: 0;
}

.one_half {
  float: left;
  width: 250px;
}

.one_third {
  float: left;
  width: 250px;
}

.two_third {
  float: left;
  width: 250px;
}

.one_quarter {
  float: left;
  width: 250px;
}

.three_quarter {
  float: left;
  width: 250px;
}

.topbar {
  height: 200px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

#logo {
  float: left;
  padding: 10px 0 15px;
  margin: 0 15px 0 3px;
  font-size: 16px;
  color: #fff;
}

#logo a {
  font-size: 16px;
  color: #fff;
}

#pyro-logo {
  display: inline-block;
  width: 18px;
  height: 28px;
  background: url('../../img/logo.png') no-repeat;
}

.ckeditor-pyro-logo {
  height: 20px !important;
  padding-top: 2px !important;
}

.ckeditor-pyro-logo .cke_button__maximize_icon {
  height: 20px !important;
  background: url('../../img/logo.png') no-repeat center center !important;
  background-size: 14px 20px !important;
}

#dashboard-link {
  margin-top: 11px;
  margin-right: 4px;
}

#dashboard-link a {
  padding: 4px 7px;
  color: #bbb;
  background: #333;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #222;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 0px 0 #666, inset 0 1px 2px 0 #555, 0 1px 1px 0 #555;
     -moz-box-shadow: inset 0 1px 0px 0 #666, inset 0 1px 2px 0 #555, 0 1px 1px 0 #555;
      -ms-box-shadow: inset 0 1px 0px 0 #666, inset 0 1px 2px 0 #555, 0 1px 1px 0 #555;
       -o-box-shadow: inset 0 1px 0px 0 #666, inset 0 1px 2px 0 #555, 0 1px 1px 0 #555;
          box-shadow: inset 0 1px 0px 0 #666, inset 0 1px 2px 0 #555, 0 1px 1px 0 #555;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

#dashboard-link a:hover {
  color: white;
  /*fallback for ie8 */

  background: #222;
  background: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 2px 4px 0 #111, inset 0 1px 2px 0 #555, 0 1px 1px 0 #555;
     -moz-box-shadow: inset 0 2px 4px 0 #111, inset 0 1px 2px 0 #555, 0 1px 1px 0 #555;
      -ms-box-shadow: inset 0 2px 4px 0 #111, inset 0 1px 2px 0 #555, 0 1px 1px 0 #555;
       -o-box-shadow: inset 0 2px 4px 0 #111, inset 0 1px 2px 0 #555, 0 1px 1px 0 #555;
          box-shadow: inset 0 2px 4px 0 #111, inset 0 1px 2px 0 #555, 0 1px 1px 0 #555;
}

button#remove_installer_directory {
  position: relative;
  display: inline-block;
  padding: 4px 6px;
  margin-right: 10px;
  font-weight: 700;
  line-height: 18px;
  color: #eee;
  text-shadow: 0 1px 0 #333;
  background-color: #555;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #777777), color-stop(100%, #555555));
  background-image: -webkit-linear-gradient(top, #777777, #555555);
  background-image: -moz-linear-gradient(top, #777777, #555555);
  background-image: -ms-linear-gradient(top, #777777, #555555);
  background-image: -o-linear-gradient(top, #777777, #555555);
  background-image: linear-gradient(top, #777777, #555555);
  background-repeat: repeat-x;
  border: 1px solid #333;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
      -ms-border-radius: 5px;
       -o-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2), inset 0 0 2px 0 rgba(255, 255, 255, 0.4), 0 1px 0px 0 rgba(255, 255, 255, 0.1);
     -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2), inset 0 0 2px 0 rgba(255, 255, 255, 0.4), 0 1px 0px 0 rgba(255, 255, 255, 0.1);
      -ms-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2), inset 0 0 2px 0 rgba(255, 255, 255, 0.4), 0 1px 0px 0 rgba(255, 255, 255, 0.1);
       -o-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2), inset 0 0 2px 0 rgba(255, 255, 255, 0.4), 0 1px 0px 0 rgba(255, 255, 255, 0.1);
          box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2), inset 0 0 2px 0 rgba(255, 255, 255, 0.4), 0 1px 0px 0 rgba(255, 255, 255, 0.1);
  -webkit-transition: 0ms linear all;
     -moz-transition: 0ms linear all;
      -ms-transition: 0ms linear all;
       -o-transition: 0ms linear all;
          transition: 0ms linear all;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
}

button#remove_installer_directory:hover {
  color: white;
  background-color: #444;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(100%, #444444));
  background-image: -webkit-linear-gradient(top, #555555, #444444);
  background-image: -moz-linear-gradient(top, #555555, #444444);
  background-image: -ms-linear-gradient(top, #555555, #444444);
  background-image: -o-linear-gradient(top, #555555, #444444);
  background-image: linear-gradient(top, #555555, #444444);
}

.subbar {
  position: absolute;
  top: 27px!important;
  right: 0;
  left: 0;
  z-index: 9997;
  height: 20px;
  padding: 10px;
  margin-top: 15px;
  background: #333;
  border-top: 1px solid #4c4c4c;
  border-bottom: 1px solid #1a1a1a;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
      -ms-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
       -o-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

.subbar-inner:before,
.subbar-inner:after {
  display: table;
  line-height: 0;
  content: "";
}

.subbar-inner:after {
  clear: both;
}

.subbar .container {
  width: auto;
}

#content-body {
  position: relative;
  top: 135px;
}

.subbar .wrapper {
  position: relative;
}

.subbar h2,
.subbar h2 a {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  text-shadow: 0 1px 1px #000;
  vertical-align: top;
}

.subbar span.divider {
  line-height: 21px;
  color: #222;
  text-shadow: none;
}

.subbar small {
  display: none;
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  color: #767d82;
  text-shadow: 0 1px 0px #111;
  vertical-align: top;
  -webkit-transition: 200ms linear all;
     -moz-transition: 200ms linear all;
       -o-transition: 200ms linear all;
          transition: 200ms linear;
}

.subbar small:hover {
  color: #8C949A;
}

.subbar small a {
  font-weight: 400;
  color: #767d82;
  text-decoration: none;
  text-shadow: 0 1px 0px #111;
}

.subbar small a:hover {
  color: #fff;
}

#shortcuts {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0!important;
}

#shortcuts h6 {
  display: none;
}


#shortcuts ul li {
  display: inline-block;
}

#shortcuts ul li a.add {
  /*
margin-top: -4px;
	float: left;
	padding: 0 10px 2px 7px!important;
*/

}

#shortcuts ul li a.add:before {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
  vertical-align: middle;
  content: '+ ';
}

#shortcuts li a {
  width: auto;
  padding: 4px 10px;
  overflow: visible;
  font: bold 12px 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
  line-height: 16px;
  letter-spacing: normal;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
  cursor: pointer;
  background: #5d6266;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #767d82), color-stop(100%, #5d6266));
  background-image: -webkit-linear-gradient(#767d82, #5d6266);
  background-image: -moz-linear-gradient(#767d82, #5d6266);
  background-image: -ms-linear-gradient(#767d82, #5d6266);
  background-image: -o-linear-gradient(#767d82, #5d6266);
  background-image: linear-gradient(#767d82, #5d6266);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.2), 0 0 1px 1px rgba(0, 0, 0, 0.5), 0 2px 0 0 rgba(255, 255, 255, 0.15);
     -moz-box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.2), 0 0 1px 1px rgba(0, 0, 0, 0.5), 0 2px 0 0 rgba(255, 255, 255, 0.15);
      -ms-box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.2), 0 0 1px 1px rgba(0, 0, 0, 0.5), 0 2px 0 0 rgba(255, 255, 255, 0.15);
       -o-box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.2), 0 0 1px 1px rgba(0, 0, 0, 0.5), 0 2px 0 0 rgba(255, 255, 255, 0.15);
          box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.2), 0 0 1px 1px rgba(0, 0, 0, 0.5), 0 2px 0 0 rgba(255, 255, 255, 0.15);
  -webkit-transition: all 250ms linear;
     -moz-transition: all 250ms linear;
      -ms-transition: all 250ms linear;
       -o-transition: all 250ms linear;
          transition: all 250ms linear;
  -webkit-background-clip: padding;
     -moz-background-clip: padding;
          background-clip: padding-box;
  -webkit-appearance: none;
}

#shortcuts li a:hover {
  background: #1b7ad6;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3193cc), color-stop(100%, #1b7ad6));
  background-image: -webkit-linear-gradient(#3193cc, #1b7ad6);
  background-image: -moz-linear-gradient(#3193cc, #1b7ad6);
  background-image: -ms-linear-gradient(#3193cc, #1b7ad6);
  background-image: -o-linear-gradient(#3193cc, #1b7ad6);
  background-image: linear-gradient(#3193cc, #1b7ad6);
}

#shortcuts li a.active {
  color: #aaa;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  background: #242424;
}

#filters ul {
  float: left;
  width: 100%;
  max-width: 100%;
  margin: 0;
}

#filters legend {
  padding: 0 6px;
  font-size: 12px;
  color: #888;
}

#filters form > ul > li {
  display: inline-block;
  margin: 8px 0 5px 5px;
}

#filters form > ul > li label {
  display: block;
  float: left;
  width: 100%;
  margin: 8px 5px 0 0;
}

#filters form > ul > li input[type="text"] {
  width: auto;
  margin: 0;
}

#site_public_lang .type-checkbox {
  padding-right: 50px;
}

.sections_bar {
  position: absolute;
  top: 94px!important;
  right: 0;
  left: 0;
  z-index: 9995;
  width: 100%;
  height: 33px;
  background: white;
  border-bottom: 1px solid #ccc;
}

.sections_bar ul {
  position: relative;
}

.sections_bar ul li {
  position: relative;
  display: inline-block;
  padding: 8px 4px;
  text-align: left;
}

.sections_bar ul li:first-child {
  padding-left: 0;
}

.sections_bar ul li.current:before {
  position: absolute;
  bottom: -6px;
  left: 40%;
  display: inline-block;
  border-top: 6px solid #ccc;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.sections_bar ul li.current:after {
  position: absolute;
  top: 32px;
  left: 40%;
  display: inline-block;
  border-top: 6px solid white;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: '';
}

.sections_bar ul li a {
  color: #858585;
  text-decoration: none;
}

.sections_bar ul li.current a,
.sections_bar ul li a:hover {
  color: #4E4E4E;
}

.sections_bar ul li img {
  position: absolute;
  bottom: -10px;
  left: 32%;
}

.ui-tabs-nav {
  width: 100%;
}

.ui-tabs-nav li {
  position: relative;
  float: left;
  padding: 0;
  margin: 4px 0 0 2px;
  border-bottom-width: 0!important;
}

.ui-tabs-panel {
  display: block;
  float: left;
  background: none;
  border-width: 0;
  width: 100%;
}

.ui-tabs-hide {
  display: none!important;
}

/* Default jquery autocomplete dropdown */

.ui-autocomplete {
  position: absolute;
  height: auto;
  padding: 10px 0px;
  background-color: #fafaf9;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
      -ms-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
       -o-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
}

.ui-autocomplete li {
 /*  padding: 8px 10px; */
  font-size: 14px;
  line-height: 20px;
  list-style: none;
  cursor: pointer;
  background-color: #fafaf9;
  border-top: 0px solid #fafaf9;
  border-bottom: 0px solid #eee;
  border-left: 1px solid #fafaf9;
  border-right: 1px solid #fafaf9;
  -webkit-transition: 200ms linear all;
     -moz-transition: 200ms linear all;
       -o-transition: 200ms linear all;
          transition: 200ms linear all;
}

.ui-autocomplete li:first-child {
  border-top: 0px solid #fafaf9;
}

.ui-autocomplete li:last-child {
  border-bottom: 0px solid #fafaf9;
}

.ui-autocomplete li:hover {
  border-top: 0px solid #555f69;
  border-bottom: 0px solid white;
  border-left: 1px solid #6d7a87;
  border-right: 1px solid #6d7a87;
}

.ui-autocomplete li a {
  display: block;
  padding: 4px 10px;
  background: #fafaf9;
}

.ui-autocomplete li a:hover,
.ui-autocomplete li a:active {
  color: white;
  background: #6d7a87;
}

/* Autocomplete menu for global search */

.ui-autocomplete.search-results {
  top: 52px!important;
  z-index: 9997 !important;
  background-color: #222;
  border-top: 1px solid #222;
  border-bottom: 1px solid #111;
  border-left: 1px solid #222;
  border-right: 1px solid #222;
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
      -ms-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
       -o-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
}

.ui-autocomplete.search-results li {
  font-size: 14px;
  line-height: 20px;
  list-style: none;
  cursor: pointer;
  background-color: #222;
  border-top: 1px solid #282828;
  border-bottom: 1px solid #111;
  border-left: 1px solid #222;
  border-right: 1px solid #222;
  -webkit-transition: 200ms linear all;
     -moz-transition: 200ms linear all;
       -o-transition: 200ms linear all;
          transition: 200ms linear all;
}

.ui-autocomplete.search-results li:first-child {
  border-top: 1px solid #222;
}

.ui-autocomplete.search-results li:last-child {
  border-bottom: 1px solid #222;
}

.ui-autocomplete.search-results li:hover {
  border-top: 1px solid #000;
  border-bottom: 1px solid #111;
  border-left: 1px solid #111;
  border-right: 1px solid #111;
}

.ui-autocomplete.search-results li:last-child:hover {
	border-bottom: 1px solid #282828;
}

.ui-autocomplete.search-results li a {
  display: block;
  padding: 8px 10px;
  color: #34ade8;
  background: #222;
}

.ui-autocomplete.search-results li a:hover,
.ui-autocomplete.search-results li a:active {
  /* color: white; */
  background: #111;
}

.ui-autocomplete.search-results li a span {
	font-size: 14px;
}

.ui-autocomplete.search-results li a .keywords {
	color: #bbb;
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
}

.ui-autocomplete.search-results li a .singular {
	color: #bbb;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	
}

#widget-comments .comments-gravatar {
  display: inline-block;
  float: left;
  border: 3px solid white;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
      -ms-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
       -o-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

#widget-comments .comments-date {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  color: #999;
}

#widget-comments p {
  padding-left: 65px;
  color: #777;
}

#widget-comments span {
  display: block;
  padding: 8px;
  margin: 10px 0 20px 0;
  line-height: 18px;
  color: #333;
  word-wrap: break-word;
  background-color: #f5f5f5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
      -ms-border-radius: 4px;
       -o-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
      -ms-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
       -o-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

#widget-comments span:before {
  display: inline-block;
  height: auto;
  margin-right: 2px;
  font-size: 22px;
  color: #888;
  content: "\201C";
}

#widget-comments span:after {
  margin-left: 2px;
  font-size: 22px;
  color: #888;
  content: "\201D";
}

#analyticsWrapper {
  float: left;
  width: 232px;
  height: 300px;
  padding: 25px;
  background: #fff;
  -webkit-border-bottom-right-radius: 5px;
          border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
          border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-box-shadow: 0 0 1px #aaa;
     -moz-box-shadow: 0 0 1px #aaa;
          box-shadow: 0 0 1px #aaa;
}

#analytics {
  float: left;
  width: 232px;
  height: 300px;
  padding-bottom: 50px;
}

#analytics canvas {
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

#analytics table tr {
  display: inline;
  float: left;
  width: 125px;
}

#analytics .legend {
  display: none;
}

section#content {
  float: left;
  width: 100%;
  padding: 0;
  margin: 135px 0 150px!important;
}

section#content header {
  -webkit-font-smoothing: subpixel-antialiased;
}

section#content ul {
  padding: 0;
  margin: 0;
}

section#content ul li {
  position: relative;
  list-style: none;
}

section#content ul li.editor {
  position: relative;
  list-style: none;
}

#blog-content-tab {
  width: 100%;
}

section.title {
  display: block;
  width: 100%;
  min-height: 25px;
  padding: 13px 0 8px;
  margin-top: 0;
  margin-bottom: 0;
  background: #f7f7f7;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f7f7f7), to(#f3f3f3));
  background-image: -moz-linear-gradient(#f7f7f7, #f3f3f3);
  background-image: -ms-linear-gradient(#f7f7f7, #f3f3f3);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #f3f3f3));
  background-image: -webkit-linear-gradient(#f7f7f7, #f3f3f3);
  background-image: -o-linear-gradient(#f7f7f7, #f3f3f3);
  background-image: linear-gradient(#f7f7f7, #f3f3f3);
  background-repeat: repeat-x;
  border-bottom: 1px solid #f0f0f0;
  -webkit-border-radius: 5px 5px 0 0;
     -moz-border-radius: 5px 5px 0 0;
      -ms-border-radius: 5px 5px 0 0;
       -o-border-radius: 5px 5px 0 0;
          border-radius: 5px 5px 0 0;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
      -ms-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
       -o-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

section.title h4 {
  display: inline;
  padding: 0 16px;
  margin: 0;
  font-size: 16px;
  color: #555;
  text-align: left;
  text-shadow: 1px 1px 0 #fff;
}

section.title h4 a {
  color: #555;
}

section.title li {
/* line-height: 35px; */
  /* float:left; */
  display: inline;
  /* width:50%; */
}

section.title li .button {
  float: right;
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 2px 6px;
  font-size: 13px;
  line-height: initial;
}

section.title li:first-child {
  margin-right: 16px;
}

section.item {
  float: left;
  width: 100%;
  min-height: 100px;
  padding: 0;
  margin: 0;
  background: #fff;
  -webkit-border-bottom-right-radius: 5px;
     -moz-border-bottom-right-radius: 5px;
       -o-border-bottom-right-radius: 5px;
          border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
     -moz-border-bottom-left-radius: 5px;
       -o-border-bottom-left-radius: 5px;
          border-bottom-left-radius: 5px;
  zoom: 1;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
      -ms-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
       -o-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

section.item > .content {
  display: block;
  width: 100%;
  height: auto;
  padding: 16px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#quick_links ul {
  padding: 0;
  margin: 0;
}

#quick_links ul li {
  display: inline-block;
  margin: 0 10px 10px 0;
}

#quick_links ul li a {
  font-size: 12px;
  color: #333;
  text-align: center;
  -khtml-opacity: 1;
    -moz-opacity: 1;
         opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: 250ms linear all;
     -moz-transition: 250ms linear all;
          transition: 250ms linear all;
}

#quick_links ul li a:hover {
  -khtml-opacity: 1;
    -moz-opacity: 1;
         opacity: 1;
  filter: alpha(opacity=100);
}

ul#recent_comments li {
  padding: 0 0 40px;
  margin: 0 0 15px;
  border-bottom: 1px solid #eee;
}

ul#recent_comments li img {
  float: left;
  width: 55px;
  height: 55px;
  padding: 3px;
  margin: 0 10px 0 3px;
  border: 1px solid #ddd;
  box-shadow: 0 1px 1px #ddd;
}

ul#recent_comments li p {
  overflow: hidden;
  line-height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#feed ul li {
  width: 100%;
  margin: 0 0 25px;
  border-bottom: 1px solid #eee;
}

#feed ul li:last-child {
  border-bottom: none;
}

#feed ul li h4 {
  display: inline-block;
  padding: 0;
  margin: 0 0 8px;
  font-size: 16px;
  line-height: 16px;
}

#feed ul li,
#feed ul li p {
  line-height: 20px;
  color: #333;
}

#feed ul li p {
  padding: 0;
  margin: 0;
}

#feed ul li p:last-child {
  padding: 0 0 40px;
  margin: 0;
}

#feed .date {
  position: relative;
  display: inline-block;
  float: left;
  width: 60px;
  padding: 5px 5px;
  margin: 0 15px 0 0;
  background-color: #6d7a87;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
      -ms-border-radius: 4px;
       -o-border-radius: 4px;
          border-radius: 4px;
}

#feed .time {
  float: right;
  padding-top: 5px;
  padding-right: 5px;
}

#feed .month {
  display: inline;
  font-size: 12px;
  font-weight: 700;
  color: white;
  text-align: right;
}

#feed .day {
  display: inline;
  font-size: 16px;
  font-weight: 700;
  color: white;
  text-align: right;
}

#feed .post {
  padding-left: 90px;
}

footer {
  float: right;
  width: 100%;
  height: 60px;
  padding: 0;
  margin-top: -61px;
  color: #eee;
  background: #444444 url('../../img/nav-grain.png') repeat;
  border-top: 1px solid #222;
  -webkit-box-shadow: inset 0 1px 0 #666;
     -moz-box-shadow: inset 0 1px 0 #666;
      -ms-box-shadow: inset 0 1px 0 #666;
       -o-box-shadow: inset 0 1px 0 #666;
          box-shadow: inset 0 1px 0 #666;
}

footer p.credits {
  display: inline-block;
  float: none;
  padding: 0 10px 0 0;
  margin: 20px 0 0 0px;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  color: #999;
}

footer p.credits span {
  color: #222;
  text-shadow: 0 1px 0 #555;
}

footer select {
  width: 260px!important;
}

ul#lang {
  margin-top: 15px;
  margin-right: 24px;
  margin-bottom: 0;
  color: #333;
  text-align: center;
  text-shadow: 0 -1px 0 #ffffff;
}

ul#lang .chzn-results {
  position: relative;
  z-index: 999;
  width: auto;
}

ul#lang .chzn-drop {
  top: -229px !important;
  min-height: 227px;
  border-bottom: 1px solid #d0d0d0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

ul#lang .chzn-container .chzn-single-with-drop {
  background: #fff;
  background: -webkit-linear-gradient(top, #ffffff 50%, #eeeeee 100%);
  background: -moz-linear-gradient(top, #ffffff 50%, #eeeeee 100%);
  background: -o-linear-gradient(top, #ffffff 50%, #eeeeee 100%);
  background: -ms-linear-gradient(top, #ffffff 50%, #eeeeee 100%);
  background: linear-gradient(top, #ffffff 50%, #eeeeee 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #ffffff), color-stop(100%, #eeeeee));
  border-top: none;
  -webkit-border-radius: 0 0 4px 4px;
   -khtml-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
}

ul#lang .chzn-container .chzn-single div b {
  background: url(../../img/chosen-sprite.png) no-repeat scroll 0 1px transparent;
  background-position: -18px 1px;
}

ul#lang .chzn-container .chzn-single-with-drop div b {
  background: url(../../img/chosen-sprite.png) no-repeat scroll 0 1px transparent;
  background-position: 0 0;
}

ul#lang .chzn-container .chzn-drop {
  border-top: 1px solid #aaa;
  -webkit-border-radius: 4px 4px 0 0;
   -khtml-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
}

ul#lang .highlighted {
  text-shadow: none;
}

/* Draggable element */

section.draggable {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

/* Toggle button */

a.toggle {
  float: right;
  width: 21px;
  height: 22px;
  padding: 0 16px 0 0;
  margin: 0;
  cursor: pointer;
  background: url(../../img/toggle.png) no-repeat;
}

table > thead > tr {
  border-bottom: 2px solid #ddd;
}

table {
  /*border-spacing:0;*/
}

table > tbody > tr {
  border-bottom: 1px solid #ddd;
}

/* Streams Core Styles */

.streams_param_input pre {
  font-size: 11px;
  color: #5D7F88;
  background: #E3ECEE;
}

/* smartwifi */
.pull-right {
	float: right;
	padding: 0 10px;
}

.pull-right input {	
	margin-top: -5px;
}
