<!doctype html>
<html>
  <head>  	
  	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>{{ template:title }} | {{ location_detail:loc_name }}</title>
	<meta name="description" content="Wifi Landing Page">
	<meta name="author" content="SmartWifi Technology Co.,Ltd">
	<link rel="icon" href="../../favicon.ico">
	
	<base href="{{ url:base }}"/>
	<script>
		var queryObj = {
			device_type : 'desktop',
			res : '{{ session:data name="res" }}',
			uamip : '{{ session:data name="uamip" }}',
			uamport : '{{ session:data name="uamport" }}',
			challenge : '{{ session:data name="challenge" }}',
			called : '{{ session:data name="called" }}',
			mac : '{{ session:data name="mac" }}',
			ip : '{{ session:data name="ip" }}',
			md : '{{ session:data name="md" }}',
			nasid : '{{ session:data name="nasid" }}'
		};
	</script>
	
	<!--[if lte IE 8]>
    	<link rel="stylesheet" href="{{ asset:css_url file="themepro::grids-responsive-old-ie-min.css" }}">
	<![endif]-->
	
	<!--[if lte IE 8]>
        <link rel="stylesheet" href="{{ asset:css_url file="themepro::marketing-old-ie.css" }}"">
    <![endif]-->

	{{ asset:render group="global" }}
	{{ asset:render group="smartwifi" }}
	
	{{ template:metadata }}
	
	<!-- Piwik -->
	<script type="text/javascript">
	  var _paq = _paq || [];
	  _paq.push(['trackPageView']);
	  _paq.push(['enableLinkTracking']);
	  (function() {
	    var u="//analytics.smartwifi.vn/";
	    _paq.push(['setTrackerUrl', u+'piwik.php']);
	    _paq.push(['setSiteId', 8]);
	    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
	    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
	  })();
	</script>
	<!-- End Piwik Code -->
	<!-- <script type="text/javascript" src="http://localhost/~ngocdungnong/firebug-lite/build/firebug-lite.js"></script> -->
  </head>
<body>
	
	{{ {{ theme_slug }}:header device_type="desktop" }}
	{{ template:body }}
	{{ {{ theme_slug }}:footer device_type="desktop" }}
	
</body>     
</html>