#quad ul{
  width:100%;
  margin-bottom:20px;
  overflow:hidden;
  border-top:1px solid #ccc;
}
#quad li{
  line-height:1.5em;
  padding-top:10px;
  padding-bottom:10px;  
  float:left;  
  display:inline;
  text-align: center;
}
#double li  { width:50%;}
#triple li  { width:33.333%; }
#quad li    { width:25%; } 
#six li     { width:16.666%; } 