* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

#header{padding:0;}
#footer{padding:0;}
.width-800{width:800px;}
.width-960{width:960px;}

#click-callback, #facebook-callback, #google-callback{
	padding-top:15px;
	padding-bottom: 15px;
}

.advert-container{
	text-align:left;
}
.advert-container .heading {margin-left: -50px;font-size: 1.3em;}
.advert-container .panel-body {color: #000000;}
.advert-container .panel-body a {color: #000000;}
.advert-container .panel-body, a:hover {color: #000088;}
.advert-container #display-link {color: #C9CCCF;}
